<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/contact-us.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">🎓Student AI</div>
        <ul>
            <li href="/">Home</li>
            <li>Mind Map</li>
            <li>Summarizer</li>
            <li>About</li>
            <li>Contact</li>

        </ul>
    </nav>
    <div class="hero">
        <h1>Contact Us</h1>
        <p>We are here to assist you. Reach out to us for support, inquiries, or feedback.<br> Our team is committed to providing timely and effective solutions.</p>
    </div>
    <div class="main">
        <div class="left">

            <div class="info-item">
                <strong>Email Support</strong>
                <span>support@fs0coiety.in</span>
            </div>

            <div class="info-item">
                <strong>General Inquiry</strong>
                <span>info@fs0coiety.in</span>
            </div>

            <div class="info-item">
                <strong>Business</strong>
                <span>business@fs0coiety.in</span>
            </div>

            <div class="info-item">
                <strong>Address</strong>
                <span>Aivion AI, India</span>
            </div>

            <div class="info-item">
                <strong>Instagram</strong>
                <span>@starhazers_</span>
            </div>

            <div class="info-item">
                <strong>LinkedIn</strong>
                <span>linkedin.com/anaskhan-cs</span>
            </div>

        </div>

        <div class="right">
            <div class="feedback-card">
                <h3>Give Us Feedback</h3>

                <form>
                    <input type="text" placeholder="Full Name">
                    <input type="email" placeholder="Email">
                    <textarea placeholder="Feedback"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

    </div>

    <footer class="footer">
        © 2026 Aivion AI. All rights reserved.
    </footer>

</body>

</html>